<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Kde je k dostání aplikace DRIVEIO ?</h2>
        <br>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="" class="">
              <img src="images\download\GooglePlay.png" style="height: 60px; width: 200px; border-radius: 5px" alt="">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="">
              <img src="images\download\AppStore.png" style="height: 60px; width: 200px; border-radius: 5px" alt="">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="">
              <img src="images\download\appgallery.png" style="height: 60px; width: 200px; border-radius: 5px" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
