<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo.png" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#" style="background-color: #ffffff"><i style="color:#3b5998;" class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="background-color: #ffffff"><i style="color: #00acee;" class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="background-color: #ffffff"><i style="color: #C13584;" class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="#">JPSoft</a></small class="text-secondary">
  </div>
</footer>
